<div class="card" style="width: 18rem;" *ngIf="images">
<ng-template>
    <img [src]="images[0]" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn">Add to cart</button>
      <button class="btn">Buy Now</button>
    </div>
</ng-template>
<ng-template> 
    <img [src]="images[1]" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn">Add to cart</button>
      <button class="btn">Buy Now</button>
    </div>
</ng-template>
<ng-template> 
    <img [src]="images[2]" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn">Add to cart</button>
      <button class="btn">Buy Now</button>
    </div>
</ng-template>
<ng-template> 
    <img [src]="images[3]" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn">Add to cart</button>
      <button class="btn">Buy Now</button>
    </div>
</ng-template>
</div>