nav{
    background-color: #1d1b1b;
}

.navbar-brand{
    padding: 2px 4px 2px 4px;
}
.nav-item .nav-link{
    color: white;
    text-align: center;
}

.nav-item .nav-link:hover{
    color: white;
    background-color: teal;
}

.dropdownitem{
    color: black;
}

.dropdown-item:hover{
    background-color: teal;
}

.btn{
    border-color: teal;
    color: white;
}

.btn:hover{
    background-color: teal;
}

