<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#" style="color: white;">Logo</a>
    <button class="navbar-toggler navbar-dark" style="border: none; " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"> </span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mr-sm-5">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item mr-sm-5">
          <a class="nav-link" href="#">Compare</a>
        </li>
        <li class="nav-item dropdown mr-sm-5">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Laptops</a>
            <a class="dropdown-item" href="#">Mobiles</a>
            <a class="dropdown-item" href="#">Accessories</a>
          </div>
        </li>
        <li class="nav-item mr-sm-5">
          <a class="nav-link" href="#">Cart</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>-->
      </ul>
      
      <form class="form-inline my-2 my-lg-0 mr-sm-5">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn my-4 my-sm-0" type="submit">Search</button>
      </form>
      
      <span class="nav-item login">
        <a class="btn my-2 my-sm-0" href="#">Login/SignUp</a>
      </span>
    </div>
  </nav>